.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 30px;
    background: #27292a;
    width: fit-content;
    border-radius: 23px;
    box-shadow: 2px 5px 4px 3px #1f2129

}
.form input {
    background: #1f2122;
    border: none;
    padding: 10px;
    border-bottom: 1px solid #666
}
.form label {
    color: #666;
    font-family: sans-serif;
    font-size: 14px;
}
.form button {
    border: 1px solid #ec6090;
    padding:10px 20px;
    background: #1f2129;
    color: white;
    border-radius: 23px;
}