.home {
    background-image: url(../images/banner-bg.jpg);
    background-position: center;
    background-size: cover;
    min-height: 380px;
    border-radius: 23px;
    padding: 20px 10px;
    width: 80%;
}