.libery {
    background: #1f2122;
    width: 80%;
    padding: 20px 10px;
    margin-top: 20px;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    gap: 20px
}
.lib {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 20px ;
    
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 14px;
    padding: 0px 10px 
}