.libery {
    background: #1f2122;
    width: 80%;
    padding: 20px 10px;
    margin-top: 20px;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    gap: 20px
}
.lib {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 20px ;
    
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 14px;
    padding: 0px 10px 
}
.btn {
    width:150px;
    height: 50px;
    border-radius: 20% 100% 0% 8%/  10% 60% 40% 10%;
    background: #1f2122;
    border: 2px solid #ec6090;
    color: gray;
    font-size: 15px;
}
.img {
    border-radius: 20px;
    filter: blur(3px)
}
.img:hover{
    filter: blur(0px)
}

