.move {
    background: #1f2122;
    width: 90%;
    border-radius: 23px;

}
.title {
    color:white;
    font-size: 35px;
    font-family: sans-serif;
    padding: 20px 0px;
    text-decoration: underline  #ec6090;
    padding: 20px
    
}
.chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}