.head {
    width: 100%;
    padding: 50px 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}
.link {
    text-decoration: none;
    list-style-type: none;
    color: #666;
    font-size: 15px;

}
li {
    list-style-type: none;
    color: #666;
    
}
.logo {
    margin-top: -20px;
}